# Problem Set 2

We might need to install some packages

$\newcommand\ci{\perp\mkern-10mu\perp}$
$\newcommand{\nci}{\not\!\perp\!\!\!\perp}$
$\newcommand{\E}{\mathbb{E}}$

In [1]:
#!pip install linearmodels

In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

Data preparation

In [3]:
data = pd.read_stata('problemset2.dta')
data['eligible'] = data['eligible'].astype(float)

Y = data['earnings']
X = data['veteran']
X = sm.add_constant(X)

## Exercise 1

Regression of "future earning" on "veteran status" dummy

In [4]:
results = sm.OLS(Y,X).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               earnings   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.001
Method:                 Least Squares   F-statistic:                     5.359
Date:                Wed, 03 Feb 2021   Prob (F-statistic):             0.0207
Time:                        14:29:39   Log-Likelihood:                -31364.
No. Observations:                3552   AIC:                         6.273e+04
Df Residuals:                    3550   BIC:                         6.275e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.109e+04     30.570    362.703      0.000     1.1e+04    1.11e+04
veteran      169.1135     73.053      2.315      0.021      25.884     312.343
==============================================================================
Omnibus:                      234.115   Durbin-Watson:                   1.773
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              865.044
Skew:                           0.238   Prob(JB):                    1.44e-188
Kurtosis:                       5.370   Cond. No.                         2.72
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

Let $Y_{0, i}$ and $Y_{1, i}$ be the potential outcome variables of future earning had the subject not been a veteran or had the subject been a veteran respectively, these random variables are not independent on veteran status.  $Y_{1i}$, $Y_{0i} \nci T_i$. This is so because people could volunteer to go to war. Interestingly, this regression has positive slove on veteran status. This bias could be due to: "Committed people go to war / Committed people perform better at work"

The table below shows that an important set of people that were not eligible did become veterans. Therefore, breaking the independence conditions. These people could be described as committed.

In [5]:
pd.crosstab(data.eligible, data.veteran, margins=True, margins_name="Total", values=1, aggfunc='sum')/len(data)

veteran        0.0       1.0     Total
eligible
0.0       0.577703  0.118243  0.695946
1.0       0.247185  0.056869  0.304054
Total     0.824887  0.175113  1.000000

Two Stage Linear Regression

In [6]:
from linearmodels.iv import IV2SLS

res_second = IV2SLS(Y, X['const'], X.veteran, data.eligible).fit(cov_type='unadjusted')
print(res_second)

                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:               earnings   R-squared:                     -1.1072
Estimator:                    IV-2SLS   Adj. R-squared:                -1.1078
No. Observations:                3552   F-statistic:                    0.7456
Date:                Wed, Feb 03 2021   P-value (F-stat)                0.3879
Time:                        14:29:40   Distribution:                  chi2(1)
Cov. Estimator:            unadjusted

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const       1.189e+04     896.76     13.260     0.0000   1.013e+04   1.365e+04
veteran       -4417.4     5115.9    -0.8635     0.3879  -1.444e+04      5609.6
==============================================================================

Endogenous: veteran
Instruments: eligible
Unadjusted Covariance (Homoskedastic)
Debiased: False

We can see that the results differ significantly. Specially in sign. That means that when we use eligibility as an instrumental variable, we are really capturing the effect of a random treatment.

## Exercise 2

The effect disappears because eligibility is a truly random variable. By instrumenting veteran status dummy via eligibility, we are ruling out selection bias.

Let $Z_i$ be an instrumental variable. The condition identifying necessary conditions are:

- $Z_i$ is randomly assigned. This is the case since eligibility was assigned in a lottery process
- $Z_i$ satisfies the exclusion restriction. That is we are not using eligibility directly as a regressor to estimate $Y_i$
- $Z_i$ affects the endogenous regressor i.e. veteran. Again, this is the case. Some people that would not have become veterans had they not been eligible

## Exercise 3

### Structural Form

 $$ Y_i = \beta_0 + \beta_DD_i + \epsilon_i^D$$
 
### Reduced Form

$$ Y_i = \rho_0 + \rho_ZZ_i + \epsilon_i^Z$$


### First Stage Form

$$ D_i = \alpha_0 + \alpha_ZZ_i + \epsilon_i^Z$$


### Analytical derivation of the estimator

$$
\begin{align}
Y_i & = \beta_0 + \beta_DD_i + \epsilon_i^D \\
    & = \beta_0 + \beta_D(\alpha_0 + \alpha_ZZ_i + \epsilon_i^Z) + \epsilon_i^D \\
    & = (\beta_0 + \beta_D\alpha_0) + \beta_D\alpha_ZZ_i + (\beta_D\epsilon_i^Z + \epsilon_i^D) \\
    & = \rho_0 + \rho_ZZ_i + \epsilon_i^Z
\end{align}
$$

If we equate coefficients we get

$$ \rho_Z = \beta_D\alpha_Z $$

Therefore, 

$$ \beta_D = \frac{\rho_Z}{\alpha_Z} $$

## Exercise 4

Recall that, 

$$ \rho_Z = \frac{Cov(Y_i, Z_i)}{Var(Z_i)} $$
$$ \alpha_Z = \frac{Cov(D_i, Z_i)}{Var(Z_i)} $$

therefore, 

$$ \beta_D = \frac{\rho_Z}{\alpha_Z} = \frac{Cov(Y_i, Z_i)}{Cov(D_i, Z_i)}$$


We can express the numerator as, 

$$
\begin{align}
Cov(Y_i, Z_i) & = \E[Y_iZ_i]-\E[Y_i]\E[Z_i] \\
              & = \E[Y_i|Z_i=1]P(Z_i =1) -\{ \E [Y_i|Z_i =1]P(Z_i=1) + \E[Y_i|Z_i=0](1- P(Z_i=1))\}P(Z_i=1) \\
              &= \{\E[Y_i|Z_i = 1] - \E[Y_i|Z_I = 0] \}P(Z_i=1)(1-P(Z_i=1))
\end{align}
$$

... and the denominator as, 


$$
Cov(D_i, Z_i)  = \{ \E[D_i|Z_i=1]-\E[D_i|Z_i=0]\}P(Z_i=1)(1-P(Z_i=1)) 
$$

Thus

$$
    \beta_D = 
    \frac{\{\E[Y_i|Z_i = 1] - \E[Y_i|Z_I = 0] \}P(Z_i=1)(1-P(Z_i=1))}{\{\E[D_i|Z_i=1]-\E[D_i|Z_i=0]\}P(Z_i=1)(1-P(Z_i=1)) } = 
    \frac{\E[Y_i|Z_i = 1] - \E[Y_i|Z_I = 0]}{\E[D_i|Z_i=1]-\E[D_i|Z_i=0]}
$$

## Exercise 5

In [7]:
data.groupby(['eligible', 'veteran']).count()

                   byr  year  earnings
eligible veteran
0.0      0.0      2052  2052      2052
         1.0       420   420       420
1.0      0.0       878   878       878
         1.0       202   202       202

In [8]:
pd.crosstab(data.eligible, data.veteran, margins=True, margins_name="Total", values=1, aggfunc='sum')/len(data)

veteran        0.0       1.0     Total
eligible
0.0       0.577703  0.118243  0.695946
1.0       0.247185  0.056869  0.304054
Total     0.824887  0.175113  1.000000

In [9]:
0.175113*0.695946

0.12186919189799998

In [10]:
data[['eligible', 'veteran']].corr()

          eligible   veteran
eligible  1.000000  0.020738
veteran   0.020738  1.000000